# =========================
# Python cache & compiled files
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Cython debug symbols
# =========================
cython_debug/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Virtual environment folders
# =========================
venv/
env/

# =========================
# Database files
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor settings
# =========================
.vscode/
.idea/

# =========================
# Alembic
# =========================
migrations/__pycache__/